<ion-header no-border>
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
   </ion-toolbar>
</ion-header> 

<div class="head-txt">
   <strong>Registered List</strong><br>
</div>

<ion-content [scrollEvents]="true">  	
  <div padding class='spaces'>
    <div class="pandora-box" [routerLink]="OpemrSettingsPath" routerDirection="forward">
       <div padding class="pandora-hope" >
          <img src="assets/images/wh2.png">
       </div>
       <div class="pandora-joy">
          <strong>Miss Audrey Hepburn</strong><br>
          Famale, 22Y 2M<br>
          British<br>
          09:15
       </div>
       <div class="pandora-happy">
          EMR
       </div>
    </div>
  </div> 
  <div padding class='spaces'>
    <div class="pandora-box" [routerLink]="OpemrSettingsPath" routerDirection="forward">
       <div padding class="pandora-hope" >
          <img src="assets/images/wh3.png">
       </div>
       <div class="pandora-joy">
          <strong>Miss Carrie Lok Yao Nao</strong><br>
          Famale, 25Y 2M<br>
          Malaysia<br>
          11:15
       </div>
       <div class="pandora-happy">
          EMR
       </div>
    </div>
  </div>
  <div padding class='spaces'>
    <div class="pandora-box" [routerLink]="OpemrSettingsPath" routerDirection="forward">
       <div padding class="pandora-hope" >
          <img src="assets/images/wh4.png">
       </div>
       <div class="pandora-joy">
          <strong>Nur Syafiqah binti Ainul Razak</strong><br>
          Famale, 28Y 2M<br>
          Malaysia<br>
          01:15
       </div>
       <div class="pandora-happy">
          EMR
       </div>
    </div>
  </div>
  <div padding class='spaces'>
    <div class="pandora-box" [routerLink]="OpemrSettingsPath" routerDirection="forward">
       <div padding class="pandora-hope" >
          <img src="assets/images/wh5.png">
       </div>
       <div class="pandora-joy">
          <strong>Ramya Vengatarakoo</strong><br>
          Famale, 30Y 2M<br>
          Malaysia<br>
          03:15
       </div>
       <div class="pandora-happy">
          EMR
       </div>
    </div>
  </div>
  <div padding class='spaces'>
    <div class="pandora-box" [routerLink]="OpemrSettingsPath" routerDirection="forward">
       <div padding class="pandora-hope" >
          <img src="assets/images/pp1.png">
       </div>
       <div class="pandora-joy">
          <strong>Franck Hebert</strong><br>
          Male, 20Y 11M<br>
          France<br>
          04:15
       </div>
       <div class="pandora-happy">
          EMR
       </div>
    </div>
  </div>
  <div padding class='spaces'>
    <div class="pandora-box" [routerLink]="OpemrSettingsPath" routerDirection="forward">
       <div padding class="pandora-hope" >
          <img src="assets/images/pp2.png">
       </div>
       <div class="pandora-joy">
          <strong>Prof. Hollis Maggio Sr.</strong><br>
          Male, 22Y 11M<br>
          Singapore<br>
          06:15
       </div>
       <div class="pandora-happy">
          EMR
       </div>
    </div>
  </div>
  <div padding class='spaces'>
    <div class="pandora-box" [routerLink]="OpemrSettingsPath" routerDirection="forward">                                    
       <div padding class="pandora-hope" >
          <img src="assets/images/pp3.png">
       </div>
       <div class="pandora-joy">
          <strong>Ryo Nishikido</strong><br>
          Male, 25Y 11M<br>
          Japan<br>
          08:15
       </div>
       <div class="pandora-happy">
          EMR
       </div>
    </div>
  </div>  
  <div padding class='spaces'>
    <div class="pandora-box" [routerLink]="OpemrSettingsPath" routerDirection="forward">                                    
       <div padding class="pandora-hope" >
          <img src="assets/images/pp4.png">
       </div>
       <div class="pandora-joy">
          <strong>Doh Kyung Soo</strong><br>
          Male, 26Y 11M<br> 
          Korean<br>
          09:15
       </div>
       <div class="pandora-happy">
          EMR
       </div>
    </div>
  </div>  
</ion-content>
