<ion-header class="parallax-obj parallax-translate-obj">
	<ion-toolbar>
	   <ion-buttons slot="start">
		  <ion-back-button text="" icon="arrow-dropleft" ></ion-back-button>
	   </ion-buttons>
	</ion-toolbar>
 </ion-header>
 
 <div class="wrap-internal">
	<div padding class="txt-content txt-light">
		<div padding class="txt-main pdt-100">
			<h2 no-margin class="fs-90 fw-900">500</h2>
			<h2 no-margin class="fs-50">Oops!</h2>
			<h4 class="mgt-10 fs-26 uppercase">Internal server error</h4>
		</div>
	</div>
	<div class="decor pdl-100" text-center>
		<div class="rocket">
			<img class="" src="assets/images/rocket.png">
		</div>
		<div class="smoke">
			<img class="" src="assets/images/smoke.png">
		</div>
	</div>
	<div class="bg-img"> 
		<img src="assets/images/bg500.png">
	</div>
</div>