<ion-header no-line no-border>
   <div class="head-box">
	  <div padding class="head-img" >
		 <img src="assets/images/ml.png">
	  </div>
	  <div class="head-txt">
	    <strong>Medical Links</strong><br>
	  </div>
   </div>
</ion-header> 

<ion-content [scrollEvents]="true">
  <div padding class="spaces">
	<div class="pandora-box">  
	  <p>
		<a href="https://www.mdcalc.com/" class="img-con" >
		  <i class="fas fa-calculator"></i> &nbsp;&nbsp; Medical Calculators</a></p>
	  <p>	   
		<a href="https://www.amjmed.com/" class="img-con" >
		  <i class="fas fa-book-medical"></i> &nbsp;&nbsp; Journal of Medicine</a></p>
	  <p>
		<a href="https://www.medgadget.com/" class="img-con" >
		  <i class="fas fa-microscope"></i> &nbsp;&nbsp; Medical Gadget</a></p>
    </div>
  </div>
  
</ion-content>