<ion-header no-border>
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
   </ion-toolbar>
</ion-header>

<div class="head-txt">
   <strong>KIV List</strong><br>
</div>

<ion-content [scrollEvents]="true">
  	
  <div padding class='spaces'>
    <div class="pandora-box" [routerLink]="OpemrSettingsPath" routerDirection="forward">
       <div padding class="pandora-hope" >
          <img src="assets/images/W-icon.png">
       </div>
       <div class="pandora-joy">
          <strong>Yen Sit Sok</strong><br>
          Famale, 24Y 2M<br>
          Malaysia<br>
          01:00
       </div>
       <div class="pandora-happy">
          EMR
       </div>
    </div>
 </div>

</ion-content>
