<ion-header no-border>
  <ion-toolbar>
     <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
        <div class="head_mid"> &nbsp; </div>
        <div class="head_end" routerLink="notifications">
           <ion-icon name="notifications-outline" class="icon"></ion-icon>
        </div>
        <div class="head_end">
           <ion-icon name="search" class="icon"></ion-icon>
        </div> 
     </ion-buttons>
  </ion-toolbar>
</ion-header> 

<div class="head-txt">
  <strong>View EMR</strong><br>
</div>

<ion-content [scrollEvents]="true">
 
  <div padding class='spaces'>
    <div class="pandora-box" [routerLink]="PpSettingsPath" routerDirection="forward">
      <div padding class="pandora-greed">
        <img src="assets/images/profile.png">
      </div>
      <div class="pandora-envy">
          Patient Profile
      </div>
      <div class="pandora-hate">
          &nbsp;
      </div>      
    </div>
    <div class="pandora-box" [routerLink]="VsSettingsPath" routerDirection="forward">
        <div padding class="pandora-greed">
          <img src="assets/images/vitals.png">
        </div>
        <div class="pandora-envy">
            Vitals
        </div>
        <div class="pandora-hate">
            &nbsp;
        </div>      
    </div>
    <div class="pandora-box" [routerLink]="FshSettingsPath" routerDirection="forward">
        <div padding class="pandora-greed">
          <img src="assets/images/family.png">
        </div>
        <div class="pandora-envy">
            Family/Social History
        </div>
        <div class="pandora-hate">
            &nbsp;
        </div>      
    </div>
    <div class="pandora-box" [routerLink]="AdSettingsPath" routerDirection="forward">
      <div padding class="pandora-greed">
        <img src="assets/images/diagnosis.png">
      </div>
      <div class="pandora-envy">
         Active Diagnosis
      </div>
      <div class="pandora-hate">
         &nbsp;
      </div>      
    </div>
    <div class="pandora-box" [routerLink]="AmSettingsPath" routerDirection="forward">
      <div padding class="pandora-greed">
        <img src="assets/images/medication.png">
      </div>
      <div class="pandora-envy">
        Active Medications
      </div>
      <div class="pandora-hate">
        &nbsp;
      </div>      
    </div>    
    <div class="pandora-box" [routerLink]="IsSettingsPath" routerDirection="forward">
      <div padding class="pandora-greed">
        <img src="assets/images/Investigations.png">
      </div>
      <div class="pandora-envy">
        Investigations
      </div>
      <div class="pandora-hate">
        &nbsp;
      </div>      
    </div> 
    <div class="pandora-box" [routerLink]="PnSettingsPath" routerDirection="forward">
        <div padding class="pandora-greed">
          <img src="assets/images/pn.png">
        </div>
        <div class="pandora-envy">
          Progress Note
        </div>
        <div class="pandora-hate">
          &nbsp;
        </div>      
    </div>           
  </div> 

</ion-content>
