<ion-header class="parallax-obj parallax-translate-obj">
	<ion-toolbar>
	   <ion-buttons slot="start">
		  <ion-back-button text="" icon="arrow-dropleft" ></ion-back-button>
	   </ion-buttons>
	</ion-toolbar>
 </ion-header> 
 
 <div class="wrap-notfound">
	<div class="txt-content txt-light">
		<div class="numb-content fs-100 fw-900">
			<span class="numb">4</span>
			<span class="numb">
				<div class="decor">
					<img class="" src="assets/images/ufo.png">
				</div>
				<div class="numb-ani">0</div>
			</span>
			<span class="numb">4</span>
		</div>
		<div class="txt-main">
			<h2 no-margin class="fs-50">Oops!</h2>
			<h4 class="mgt-10 fs-26 uppercase">Page not found</h4>		
		</div>
	</div>
	

	
	<div class="bg-img"> 
		<img src="assets/images/bg404.png">
	</div>
</div>